# Folders
downloads
tools
trumpai

# Files
settings/settings.ini
frontend/content/people/full/*.jpg
frontend/content/people/thumbs/*.jpg
frontend/content/sitting-dynamics/*.png
.htaccess

# OS stuff
.DS_Store
.Trashes
Thumbs.db

# Editor stuff
*.esproj
*.espressostorage
