@charset "UTF-8";



/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
}

:focus, :active {
	outline: 0;
}

ol, ul {
	list-style: none;
}

header, nav, article, aside, footer, hgroup, section {
	display: block;
}



/* Fixes */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

* html .clearfix {
	zoom: 1;
}

*:first-child+html .clearfix {
	zoom: 1;
}

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}



/* Layout */
html, body {
	height: 100%;
	background: url(images/bcg.png) repeat #07588D;
	color: #02385C;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}

#pagewidth {
	width: 1040px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	margin-bottom: -230px;
}

#tabs {
	position: relative;
	float: left;
	width: 40px;
	margin-top: 80px;
}

#content {
	float: left;
	margin: 0 auto 50px;
	/*min-height: 660px;*/
	position: relative;
	z-index: 100;
	width: 960px;
	background: #DBECF8;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 10px 10px 50px #011E31;
}

#content > div {
	min-height: 560px;
}

#shareTab {
	float: right;
	position: relative;
	width: 40px;
	height: 100px;
	margin: 70px 5px 0 -5px;
	padding-top: 12px;
	background: url('images/navigation/sprite.png') no-repeat 0 -201px;
}

#push {
	height: 230px;
	clear: both;
}

#content > div {
	width: 860px;
	padding: 50px;
	background: #fff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}


/* Typography */
a {
	color: #2E7BAE;
}

h2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

h3 {
	color: #3E576F;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

acronym {
	padding-bottom: 1px;
	border-bottom: 1px dotted #6D869F;
}

.footnote {
	display: block;
	clear: both;
	padding: 5px 0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	color: #6D869F;
	font-size: 11px;
}



/* Header */
header {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

header a.nav {
	float: right;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin: 20px 20px 0 0;
	background: url(images/navigation/sprite.png) no-repeat 0 -313px;
	color: #A2C9E3;
	font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
}

header a#question {
	width: 30px;
	background: url(images/navigation/sprite.png) no-repeat 0 -344px;
	font-family: Verdana, sans-serif;
}

header a#logo {
	display: block;
	float: left;
	width: 140px;
	height: 48px;
	margin: 20px 0 0 20px;
	padding-bottom: 20px;
	background: url('images/logotype.png') no-repeat;
}

#contact  {
	width: 305px;
}

.contactP {
	margin-bottom: 10px;
}

#explain h3 {
	text-align: left;
}

#explain ul, #press ul {
	padding: 10px 0 10px 20px;
	list-style-type: square;
}

#explain ul li, #press ul li {
	padding-bottom: 5px;
}



/* Tabs */
#tabs ul li {
	margin-top: -10px;
}

#tabs ul li a img {
	margin-left: 5px;
	position: relative;
}

#tabs ul li a:hover img {
	margin-left: 0px;
}

#tabAtt {
	z-index: 20;
}

#tabVote {
	z-index: 10;
}

#tabInd {
	z-index: 1;
}



/* Share */
#shareTab:hover {
	background: url('images/navigation/sprite.png') no-repeat 0 -90px;
}

#shareTab img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}



/* Footer */
footer {
	background: url(images/navigation/footer.png) repeat;
	color: #A2C9E3;
	clear: both;
}

footer ul {
	width: 1020px;
	height: 230px;
	margin: 0 auto;
	padding: 0 10px;
	background: url(images/navigation/footer.png) repeat;
}

footer ul li {
	float: left;
	width: 280px;
	padding: 30px;
}

footer ul li#links a {
	color: #A2C9E3;
}

footer ul li ol li {
	padding: 0 0 5px 0;
	margin: 0;
}

#plus, #fb, #tw {
	float: left;
	margin-top: 13px;
	opacity: 0.5;
}

#plus, #tw {
	margin-right: 10px;
}

#tw {
	width: 55px;
}

#fb, #fb iframe {
	width: 173px;
}



/* Individual */
#content #info {
	float: right;
	width: 141px;
	padding: 50px 30px;
	background: none;
}

#content #stats {
	float: left;
	width: 659px;
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
}

#content #info img {
	width: 135px;
	height: 180px;
	margin: 0;
	padding: 2px;
	border: 1px solid #5F9DC6;
}

#name, #fraction {
	float: left;
	clear: both;
}

#name {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

#fraction {
	margin-top: 5px;
}

#individual-voting {
	float: left;
	width: 402px;
	height: 470px;
}

.individual-stats {
	float: right;
	width: 217px;
	margin-bottom: 30px;
}

#individual-stats-three {
	margin-bottom: 0;
}

.index {
	display: block;
	width: 248px;
	margin-bottom: 10px;
	padding: 0;
	color: #3E576F;
	font-family: Tangerine, serif;
	font-size: 70px;
	text-align: center;
}

.explanation {
	display: block;
	clear: both;
	color: #6D869F;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#individual-timeline {
	float: left;
	position: relative;
	width: 680px;
	height: 425px;
	margin: 50px 0 0 -10px;
}



/* Voting */
#general-vover {
	float: left;
	width: 355px;
	height: 400px;
	margin: 0 0 50px 50px;
}

#general-vdistr {
	float: left;
	width: 455px;
	height: 400px;
	margin-bottom: 50px;
}

#general-forgainst {
	float: left;
	width: 435px;
	height: 400px;
	margin-bottom: -15px;
}

#general-forreject {
	float: left;
	width: 375px;
	height: 370px;
	margin: 0 0 -15px 50px;
}



/* Attendance */
#general-frac, #general-seas {
	float: left;
	width: 405px;
	height: 350px;
}

#general-frac {
	margin-right: 50px;
}

#general-timeline {
	float: left;
	position: relative;
	width: 870px;
	height: 430px;
	margin-top: 50px;
	margin-bottom: 40px;
}



/* Top */
#general-vote-one, #general-vote-two, #general-vote-three {
	float: left;
	width: 250px;
	margin: 10px 0 50px 0;
}

#attendance #general-vote-one h3, #attendance #general-vote-two h3, #attendance #general-vote-three h3 {
	display: block;
	height: 35px;
}

table {
	width: 250px;
	margin-top: 15px;
	color: #3E576F;
	font-size: 14px;
}

table a {
	color: #6D869F;
	font-weight: normal;
}

#general-vote-one, #general-vote-two {
	margin-right: 55px;
}

table td {
	padding: 0 5px;
	border-bottom: 1px solid #C0C0C0;
}

.num {
	color: #C78933;
	font-family: Tangerine, serif;
	font-size: 30px;
	text-align: center;
}

.num.pos {
	color: #79B5AC;
}

.num.neg {
	color: #C75233;
}



/* Error */
#content #error {
	height: 450px;
}

#error span {
	display: block;
	margin-bottom: 30px;
	font-family: Tangerine, serif;
	font-size: 64px;
}

#error p {
	margin-bottom: 30px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-size: 16px;
}

#error ul {
	clear: both;
	margin: 0 3px 0 7px;
}

#error ul li a {
	float: left;
	overflow: hidden;
	width: 45px;
	height: 45px;
	margin: 0 5px 5px 0;
}



/* List */
#list > ul {
	float: left;
	width: 405px;
}

#list #firstList {
	margin-right: 50px;
}

#list ul li.listMember {
	width: 405px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px #A2C9E3 solid;
}

#list ul li div.listImg {
	float: left;
	overflow: hidden;
	width: 45px;
	height: 45px;
	margin-right: 15px;
}

#list ul li a.listName, #list ul li div.listFraction {
	float: left;
	width: 345px;
	line-height: 1.2em;
}

#list ul li .listName {
	color: #6D869F;
	font-weight: bold;
}



/* NTAKK */
/* List */
#NTAKKList {
	float: left;
	width: 860px;
}

#NTAKKList li {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#NTAKKList div.member {
	float: left;
	width: 559px;
}

#NTAKKList div.ratings {
	float: right;
	width: 299px;
}

/* Header */
#NTAKKList li.listHeader {
	background: #DBECF8;
	border: 1px #A2C9E3 solid;
	height: 25px;
	padding-top: 10px;
	margin-bottom: 10px;
}

#NTAKKList .listHeader .ratings h3 {
	float: left;
	width: 99px;
}

/* Content */
#NTAKKList li.listMember {
	border-bottom: 1px #A2C9E3 solid;
}

#NTAKKList div.listImg {
	float: left;
	overflow: hidden;
	width: 45px;
	height: 45px;
	margin-right: 15px;
}

#NTAKKList div.listFraction {
	line-height: 1.2em;
}

#NTAKKList .listName {
	color: #6D869F;
	font-weight: bold;
}

#NTAKKList .listMember div.ratings {
	margin-top: -5px;
}

#NTAKKList .listMember .ratings span {
	float: left;
	width: 99px;
	padding: 0;
	color: #3E576F;
	font-family: Tangerine, serif;
	font-size: 45px;
	text-align: center;
}



/* Search */
#search {
	padding: 10px 0 20px 0;
}

#list-search-span, #fraction-search {
	float: left;
	display: block;
	width: 420px;
}

#list-search-span {
	margin-right: 20px;	
}

#list-search {
 	padding: 5px;
 	margin: 0;
	border: 1px #A2C9E3 solid;
	color: #6D869F;
	font-size: 16px;
	width: 410px;
}

.hide-a, .hide-b {
	display: none;
}



/* Main */
#content #main {
	padding-top: 60px;
}

#main p {
	clear: both;
	line-height: 22px;
	margin-bottom: 30px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-size: 16px;
}

#main > div {
	float: left;
	position: relative;
	border: 1px #A2C9E3 solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#main #sitLinkCont {
	margin-top: 20px;
}

#main > div > div {
	float: left;
	width: 260px;
	height: 160px;
	margin: 3px;
}

#main #sitLink {
	width: 854px;
}

#attLinkCont, #voteLinkCont {
	margin-right: 28px;
}

a.overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 266px;
	height: 40px;
	line-height: 40px;
	margin-top: 126px;
	background: #032F4C;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	-ms-filter: proid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

#main #sitLinkCont a.overlay {
	width: 860px;
}



/* Sittings */
#sittings {
	height: 460px;
}

#sitting-year-span {
	margin-right: 10px;
}

#sitting-year {
	width: 80px;
}

#sitting-month {
	width: 100px;
}

#sitting-calendar {
	table-layout: fixed;
	width: 860px;
}

#sitting-calendar a {
	float: left;
	clear: left;
	line-height: 18px;
	margin-top: 3px;
	font-style: italic;
}

#sitting-calendar span {
	display: block;
	float: right;
	width: 30px;
	height: 100%;
	padding-top: 5px;
	border-left: 1px #A2C9E3 solid;
	background: #CBE2F1;
	font-size: 14px;
	text-align: center;
}

#sitting-calendar td {
	height: 50px;
	padding: 0 0 0 5px;
	border: 1px #A2C9E3 solid;
}

#sitting-calendar th {
	height: 30px;
	border: 1px #A2C9E3 solid;
	background: #A2C9E3;
	color: #02385C;
}

#sitting-calendar .end {
	border: none;
}



/* Sitting */
#full-attendance {
	width: 860px;
	height: 3000px;
}

#stats-attendance {
	width: 860px;
	height: 200px;
}

#sitting h3 {
	color: #02385C;
	font-size: 16px;
	margin-bottom: 8px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}



/* Cadency navigation */
#cadencyNav .active {
	color: green;
}

#cadencyNav .disabled {
	color: grey;
}

#cadencyNav .inactive {
	color: blue;
}